@charset "utf-8";
/* CSS Document */

/*****共通部分
***********************************************/
body{
  margin:0;
  padding:0;
  font-size: 30px;
/* display: flex; */
min-height: 100vh;/*bodyの高さ*/
}

/*****ヘッダー*****/



/* サイドナビ▼ */
  main{
    /* width: 700px;
    margin: 0 auto; main幅の指定*/
  flex: 1;
  }
  aside{
  width: 25%;/*サイドバーの幅*/
  min-width: 250px;/*サイドバーの最低幅*/
  display: flex;
  flex-direction: column;

  
  }
  ul{
  list-style:none;
  padding:0;
  margin: 0;
  margin-top: 200px;
  }
  .rogo{
  /* height:150px; */
  font-size: 20px;
  margin-top: auto;
  position:relative;
			top: 30px;
			left:20px;
  width: 100px;
  height: 100px;
  }
  a {
    font-size: 45px;
    color:rgb(0, 0, 0);
    text-decoration:underline;
     
    }
    a:hover {
 
color:#999999;
text-decoration:underline;
 
}

a:active {
 
  color:#fff;
  text-decoration:none;
   
  }

  /*  メイン画像▼*/

#header{
  width:100%;
  height: 23vh;/*高さ*/
  position: relative;
} 

#header:before{
  content: '';
  position:fixed;
  top: -30px;
  left:0;
  z-index:-1;
  width:100%;
  height: 100vh;
  /*背景画像設定*/
  background:url("../img/nuppe.jpg")
   no-repeat right;/*繰り返しなし右表示*/
   vertical-align: top;
  background-size:80% 100%;   /* 横幅を割合で指定 */
  /* 高さは自動指定 */
}

/*======= 二枚目のbackground▼=======*/

#container{
  /* margin: 0;
  background-size: 100px;
  position: relative;
  z-index:1;
  background:rgb(230, 230, 230);
  padding:500px 0;
  text-align: center; */

  position: relative;
  z-index:1;
  background:rgb(230, 230, 230);
  padding:100px 0;
  text-align: center;
}



/*****----------メインビジュアル--------▼*****/


/*=======スクロールダウンのためのCSS▼ ============*/

/*====== 9-1-1 縦線が動いてスクロールを促す =======*/

/*スクロールダウン全体の場所*/
.scrolldown1{
  /*描画位置※位置は適宜調整してください*/
position:absolute;
left:50%;
bottom:10px;
  /*全体の高さ*/
height:50px;
}

/*Scrollテキストの描写*/
.scrolldown1 span{
  /*描画位置*/
position: absolute;
left:-15px;
top: -15px;
  /*テキストの形状*/
color: rgb(255, 255, 255);
font-size: 0.7rem;
letter-spacing: 0.05em;
}

/* 線の描写 */
.scrolldown1::after{
content: "";
  /*描画位置*/
position: absolute;
top: 0;
  /*線の形状*/
width: 2px;
height: 30px;
background: #eee;
  /*線の動き1.4秒かけて動く。永遠にループ*/
animation: pathmove 1.4s ease-in-out infinite;
opacity:0;
}

/*高さ・位置・透過が変化して線が上から下に動く*/
@keyframes pathmove{
0%{
  height:0;
  top:0;
  opacity: 0;
}
30%{
  height:30px;
  opacity: 1;
}
100%{
  height:0;
  top:50px;
  opacity: 0;
}
}

/* メインnuppeロゴ▼ */
/* h1{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  color:rgb(190, 223, 250);
  text-shadow: 0 0 15px #666;
  text-align: center;
} */

/*========= レイアウトのためのCSS ===============*/
/*===============music▼===========*/
.music {
  position: relative;
  top: 0px;
}

/*===============スライダー▼===========*/
.sliderArea {
  background: #fff;
  overflow: hidden;
  
}
.sliderWide {
  max-width: 100%;
  margin: 0 auto;
  padding: 30px 0px 0px;
}
.sliderWide .slick-arrow {
  opacity: 0;
  transition-duration: 0.3s;
}
.sliderWide:hover .slick-arrow {
  opacity: 1;
}
.slider {
  max-width: 280px;
  margin: 0 auto;
  padding: 0;
}
.slider .slick-list {
  overflow: visible;
}
.slider .slick-track {}
.slider .slick-slide {
  padding: 0 10px;
  opacity: .5;
  transition-duration: 0.3s;
}
.slider .slick-slide.slick-current {
  opacity: 1;
}
.slider .slick-slide a {
  display: block;
}
.slider .slick-slide a:hover {
  display: block;
  opacity: .7;
}
.slider img {
  height: auto;
  width: 100%;
}
.slick-prev, .slick-next {
  z-index: 1;
}
.slick-dots {
  bottom: -33px;
}
.slick-dots li {
  position: relative;
  display: inline-block;
  width: auto;
  height: auto;
  margin: 0;
  padding: 0;
  cursor: pointer;
}
.slick-dots li button {
  font-size: 0;
  line-height: 0;
  padding: 0;
  cursor: pointer;
  color: transparent;
  border: 0;
  text-indent: -9999px;
  display: block;
  width: 8px;
  height: 8px;
  margin: 0 8px;
  outline: 0;
  border-radius: 5px;
  transition-duration: 0.3s;
}
.slick-dots li button:before {
  content: none;
}
.slick-dots li:nth-child(1) button {
  background: #f5d1c3;
}
.slick-dots li:nth-child(2) button {
  background: #a9b7ba;
}
.slick-dots li:nth-child(3) button {
  background: #c4d7d1;
}
.slick-dots li:nth-child(4) button {
  background: #b4b1a0;
}
.slick-dots li:nth-child(5) button {
  background: #e5dfd3;
}
.slick-dots li button:hover, .slick-dots li.slick-active button {
  border-radius: 0px;
  width: 12px;
  height: 12px;
}

/*  */
/* 2カラムサイトにする */
.wrapper {
  width: 80%;
  display: flex;
  margin: 20px auto;
  justify-content: center;
}

.main, .side {
  padding: 20px;
}

/* .main {
  background: pink;
  width: 60%;
  margin-right: 20px;
} */

/* .side {
  background: skyblue;
  width: 20%;
} */

.side p, ul {
  /* background-color: #f0f0f0; */
  padding: 30px;
}

/* 3カラムコンテンツにする */

.archive {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.archive div {
  margin-top: 50px;
  margin-bottom: 3rem;
  padding: 3rem;
  width: 20%;
  height: 200%;
  /* background-color: #f0f0f0; */
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

.archive img {
  display: block;
  margin-bottom: 3rem;
  width: 100%;
  height: auto;
}


/*=== ボタンに影がついて浮き上がる▼ ===*/



/*****ナビゲーション*****/


/*****フッター*****/
* {
  margin: 0;
}

footer {
  height: auto;
  color: #fff;
  background-color: rgb(100, 100, 100);
}

footer .container {
  max-width: 1200px;
  padding: 50px 20px;
  margin: 0 auto;
}

.footC {
  padding: 10px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footC ul {
  display: flex;
  text-align: center;
  margin: 0 auto;
  padding: 0;
  list-style: none;
}

.footC img {
  /* display: block;
  border-radius: 20px;
  padding: 5px;
  background-color: #000;
  font-size: 25px;
  color: #fff; */
  width: 100px;
  height: 100px;
}

.footC img {
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 0;
}


/*****メインコンテンツ・トップページ
***********************************************/


/*****メインコンテンツ・ディスコグラフィー
***********************************************/

/* レスポンシブ */
@media screen and (max-width:768px){

  #header,
  #header:before{
height: 90vh;    
  }
  
}

